html {
    background-image: linear-gradient(to bottom right, rgba(173, 216, 230, 0.5), white);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background-color: white;
    margin: 20px;
    height: 100vh;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.home .header {
    height: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header img {
    margin-top: -300px;
    width: 100vw;
    object-fit: cover;
    position: absolute; /* Position the image absolutely */
    top: 0; /* Align the top of the image to the top of the container */
    left: 0; /* Align the left of the image to the left of the container */
}

.home h1 {
    font-size: 70px;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 30%; /* Position h1 in the center vertically */
    left: 50%; /* Position h1 in the center horizontally */
    transform: translate(-50%, -50%); /* Center the h1 */
    text-align: center;
}